//
//  Secrets.swift
//  Solstice
//
//  This file contains API keys and should NOT be committed to git.
//  Copy this file to Secrets.swift and fill in the values.
//

import Foundation

enum Secrets {
	static let yapKitAPIKey = "YOUR_YAPKIT_API_KEY_HERE"
}
